node_modules/
target/
__pycache__/
*.pyc
.venv/
venv/
.env
uploads/*
!uploads/.gitkeep
!uploads/images/
!uploads/audio/
!uploads/documents/
uploads/images/*
uploads/audio/*
uploads/documents/*
!uploads/images/.gitkeep
!uploads/audio/.gitkeep
!uploads/documents/.gitkeep
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
dist/
build/
*.class
